body {
    background-color: beige;
}

svg {
    display: block;
    margin: auto;
}

text {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    user-select: none;
}

.node {
    stroke: #000;
    stroke-width: 1px;
}
